/node_modules
/docs/*
/.cursor
/.env
/vendor
# in other pc do npm install, and composer install

# after that run the project with php -S localhost:3001 -t . public/index.php
# in another divided terminal run the project with npx gulp
