// font sizes in clamp
$font-sizes: (
  headings: (
    main-heading: clamp(2.2rem, 4vw + 1rem, 3rem),
    title-main-cards: clamp(2rem, 2vw + 1rem, 3.3rem),
    title-testimony: clamp(1.95rem, 4vw + 1rem, 2.55rem),
  ),
  other-texts: (
    p-in-cards: clamp(1.9rem, 2vw + 1rem, 2.9rem),
    name-testimony-user: clamp(1.8rem, 1.8vw + 1rem, 2rem),
    p-testimony: clamp(1.4rem, 1.4vw + 1rem, 1.83rem),
    label-wt: clamp(1.6rem, 2vw + 1rem, 1.8rem),
    text-button: clamp(1.4rem, 1.5vw + 0.5rem, 2rem),
  ),

  menu-font: clamp(1.4rem, 2vw + 1rem, 1.8rem),
);

$font-spaces: (
  line-heights: (
    // No se aplica line-height
    lh-p-main-heading: 3.273rem,
    // No se aplica line-height
  ),

  letter-spacings: (
    ls-p-main-heading: 0.308rem,
    ls-title-main-cards: 1.1rem,
    ls-title-testimony: 0.2rem,
  ),
);
