// font sizes in clamp
$font-sizes: (
  headings: (
    main-heading: clamp(2.2rem - 0.5vw, 4vw + 1rem, 2.5rem + 0.5vw),
    title-main-cards: clamp(2rem - 0.5vw, 4vw + 1rem, 3.2rem + 0.5vw),
    title-testimony: clamp(2rem - 0.5vw, 4vw + 1rem, 2.55rem + 0.5vw)
  ),
  other-texts: (
    main-paraph: clamp(2.2rem - 0.5vw, 4vw + 1rem, 2.95rem + 0.5vw),
    p-in-cards: clamp(1.9rem - 0.5vw, 4vw + 1rem, 2.8rem + 0.5vw),
    name-testimony-user: clamp(0.8rem, 1.3vw + 0.6rem, 3rem),
    label-wt: clamp(0.7rem, 1.2vw + 0.5rem, 2.5rem),
    text-button: clamp(0.7rem, 1.2vw + 0.5rem, 2.5rem)
  )
);