// shadows

$shadows: (
  // Sombras de texto
  texts:
    (
      // Sombra de texto para los H1
      h1-shadow: 0px 4.63px 4.63px 0px #000000f7,
      // Shadows of texts on cards
      sh-desc-section: (0px 0px 5px 131px #000000, 0px 0px 10px 112px #000000, 0px 0px 15px 231px #000000)
    ),

  btn: (
    btn-sh: 3px 1px 7.8px 0px #000000,
    // Sombra normal de botones
    btn-sh-active: -3px -1px 7.8px 0px #000000 inset
      // Sombra de botón activado,,,,,,
  ),

  // Sombras de menús
  menu-blur:
    (
      // Blur of the menu
      blur-menu: blur(10.100000381469727px)
    ),

  // Shadow of sections (section Shadows)
  cards:
    (
      // Shadow Hero from bottom,
      sh-hero-bottom: 0px -172px 59.2px -112px #ebebeb inset
    ),

  // Shadows of images
  images:
    (
      // Internal shadow on animal cards
      sh-in-animal: 0px 0px 15px 10px #ebebeb inset
    )
);

// shadows
