@use "../base/variables" as v;
@use "../base/mixin-responsive" as m;
@use "../base/mixin-grid-flex" as mgf;

.hero {
  // background-color: rgb(75, 194, 200);
  position: relative;

  // General Hero Gradient/Overlay
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    // background: linear-gradient(180deg, #ebebeb00 70%, #ebebeb 100%, #ebebeb 100%);
    box-shadow: map-get(map-get(v.$shadows, cards), sh-hero-bottom);
    z-index: 3;
    margin: auto;
    width: min(100vw, max(128rem, 0vw));
    height: 100%;
    

    @include m.responsive(desk) {
      box-shadow: map-get(map-get(v.$shadows, cards), sh-hero-blr);
    }
    
    box-shadow: map-get(map-get(v.$shadows, cards), sh-hero-bottom);
  }

  // Specific styles for Services page (CMS/Monkey)
  &--services {
    background: linear-gradient(270deg, rgba(235, 235, 235, 0) 0%, #000 100%);
    background-color: rgb(0, 255, 157);
    
    &::after {
      box-shadow: map-get(map-get(v.$shadows, cards), sh-hero-bottom);
      width: 100vw;
    }

    img {
      backdrop-filter: drop-shadow(0px 11px 7.8px rgba(0, 0, 0, 0.97));
      -webkit-filter: drop-shadow(0px 11px 7.8px rgba(0, 0, 0, 0.97));
    }
  }

  &__container {
    position: absolute;
    inset: 0;
    z-index: 700;
    @include mgf.grid();
  }

  .intro__button--hours {
    @include mgf.grid-position(3, 4, 3, 4);
    height: min-content;
    width: max-content;
    align-self: end;
  }

  &__text {
    @include mgf.grid-position(1, 4, 1, 4);
    @include m.responsive(tablet) {
      @include mgf.grid-position(1, 4, 1, 3);
    }
  }
}
