@use "base/variables" as v;
@use "base/mixin-responsive" as m;

.hero {
  // background-color: rgb(75, 194, 200);

  position: relative;

  &__container {
    background: linear-gradient(180deg, #ebebeb00 53.333%, #ebebeb 100%);
    position: absolute;
    inset: 0;
    z-index: 1;

    @include m.responsive(desk) {
      background: linear-gradient(180deg, #ebebeb00 53.333%, #ebebeb 100%),
        linear-gradient(90deg, #ebebeb00 93.333%, #ebebeb 99.99%),
        linear-gradient(-90deg, #ebebeb00 93.333%, #ebebeb 99.99%);
    }
    
  }

  &__text {
    // background-color: limegreen;
    @include m.responsive(tablet) {
      // background-color: orange;
    }
    @include m.responsive(desk) {
      // background-color: rgb(149, 80, 252);
    }
  }
}
