@use "base/variables" as v;
@use "base/mixin-responsive" as m;
@use "base/mixin-grid-flex" as mgf;

.intro {
  text-align: center;

  &__image {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }

  &__animal {
    img {
      width: 100%;
      height: auto;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }
  }

  &__content {
    position: relative;
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
    .intro__details {
      background: linear-gradient(
        180deg,
        #ebebeb00 33.333%,
        #ebebeb96 66%,
        #ebebeb 100%
      );

      box-shadow: map-get(map-get(v.$shadows, cards), sh-hero-bottom);

      position: absolute;
      top: min(20rem, 33.333%);
      bottom: 0;
      left: 0;
      right: 0;
      @include mgf.flexbox(column, space-around, center);
    }
  }

  @include m.responsive(desk) {
    @include mgf.flexbox(row, space-between, center, wrap-reverse, 1rem);

    &__section:nth-child(1) {
      order: 3;
    }
  }

  @include m.responsive(desk) {
    min-width: 122rem;
  }
}

.intro:has(.intro__animal) {
  order: unset;
  @include m.responsive(tablet) {
    @include mgf.grid-responsive-infinite(27.3rem, 1fr, 2rem);
  }

  @include m.responsive(desk) {
    @include mgf.grid-responsive-infinite(calc(59.2rem / 2), 1fr, 2rem);
  }
}

.animal {
  margin: 5rem auto;
  order: unset;
  // background-color: rgb(153, 151, 51);

  @include m.responsive(tablet) {
    @include mgf.grid(2, auto, 2rem);
  }

  &__card {
    @include mgf.flexbox(column, space-around, center);
    color: map-get(map-get(v.$color, solid-colors), c-light);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    -webkit-border-radius: 2rem;
    background-color: map-get(map-get(v.$color, solid-colors), c-dark);
    border: map-get(map-get(v.$color, solid-colors), c-border-card-d) 0.3rem
      solid;

    @include m.responsive(tablet) {
      border: map-get(map-get(v.$color, solid-colors), c-border-card-d) 0.5rem
        solid;
    }
    @include m.responsive(desk) {
      border: map-get(map-get(v.$color, solid-colors), c-border-card-d) 0.7rem
        solid;
    }
    h2 {
      color: map-get(map-get(v.$color, solid-colors), c-mustard-title);
    }

    p {
      color: map-get(map-get(v.$color, solid-colors), c-paraph-animal);
      padding: 0 0.5rem;
    }
  }

  &__table {
    // background-color: red;
    tbody {
      @include mgf.flexbox(column, space-between);
      // background-color: royalblue;
      height: 100%;
    }

    tr {
      @include mgf.flexbox(row, space-around);

      // background-color: fuchsia;
      border-bottom: #ebebeb 0.158rem solid;

      th {
        letter-spacing: calc(
          map-get(map-get(v.$font-spaces, letter-spacings), ls-p-main-heading) -
            0.358rem
        );
      }
      td {
        color: map-get(map-get(v.$color, solid-colors), c-highlight-1);
      }
    }
  }
}
